<!DOCTYPE html>
<html>
    <head>
        <title>Home | Ruby on Rails Tutorial Sample App</title>
    </head>
    <body>
        <h1>Sample App</h1>
        <p>
            This is the the home page of 
            <a href="https://github.com/TuddlesT">TuddlesT</a>'s sample app using the 
            <a href="https://www.railstutorial.org/">Ruby on rails Tutorial</a>.         
        </p>
    </body>
</html>
